@{
    ViewBag.Title = "Home";
}



<!-- Content -->
<div id="content">
    <!-- Content Slider -->
    <div id="" class="sliderBox " style="position:relative;"  >
        <div style="max-width:100% !important; width:100% !important;">
            @Html.Partial("slider3")
        </div>
    </div>
    <!-- End Content Slider -->
    <!-- Products -->
    @Html.Partial("Products_Content")
    <!-- End Products -->
    <!-- Content Slider -->
    <div id="" class="sliderBox " style="position:relative;">
        <div style="max-width:100% !important; width:100% !important;">
            @Html.Partial("slider4")
        </div>
    </div>


</div>
<!-- End Content -->
<!-- Sidebar -->

<!-- End Sidebar -->
@*
    <li><a href="#"><i class="fa fa-location-arrow"></i> Laptops </a></li>
        <li><a href="#"><i class="fa fa-location-arrow"></i> Mobiles </a></li>
        <li><a href="#"><i class="fa fa-location-arrow"></i> Cars </a></li>
        <li><a href="#"><i class="fa fa-location-arrow"></i> ... </a></li>
        <li><a href="#"><i class="fa fa-location-arrow"></i> ... </a></li>
        <li><a href="#"><i class="fa fa-location-arrow"></i> ... </a></li>
        <li class="last"><a href="#">Category </a></li>
*@
