<div class="neat">
    <div>
        <img src="~/Content/Desktop/images/slider/mob1.jpg" />
        <img src="~/Content/Desktop/images/slider/car12.jpg" />
        <img src="~/Content/Desktop/images/slider/mob2.jpg" />
        <img src="~/Content/Desktop/images/slider/car13.jpg" />
    </div>
</div>