

<link href="~/Content/Desktop/css/slider/slider3.css" rel="old stylesheet" type=" text /css" />
<link href="~/Content/Desktop/css/slider/jquerysctipttop.css" rel="stylesheet" type="text/css" />
<div >
    <div class="photo-slider wallop-slider wallop-slider--fold">
        <ul class="wallop-slider__list">

            <li class="wallop-slider__item wallop-slider__item--current"><img src="~/Content/Desktop/images/slider/mob1.jpg" /></li>
            <li class="wallop-slider__item"> <img src="~/Content/Desktop/images/slider/car2.jpg" /></li>
            <li class="wallop-slider__item"><img src="~/Content/Desktop/images/slider/mob2.jpg" /></li>
            <li class="wallop-slider__item"><img src="~/Content/Desktop/images/slider/car13.jpg" /></li>

        </ul>
        <button class="wallop-slider__btn wallop-slider__btn--previous btn btn--previous" disabled="disabled"
                style="background-color:rgba(230, 230, 230, 0.00)">
        @*Pre*@
            <i class=" fa-arrow-circle-o-left  fa fa_Blue" style="font-size:150%"></i>
        </button>
        <button class="wallop-slider__btn wallop-slider__btn--next  btn btn--next"
                style="background-color:rgba(230, 230, 230, 0.00)">
            @*Nxt*@
            <i class=" fa-arrow-circle-o-right  fa fa_Blue" style="font-size:150%"></i>
        </button>
    </div>
</div>

<script src="~/Content/Desktop/js/slider3//WallopSlider.js"></script>
<script src="~/Content/Desktop/js/slider3//script.js"></script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
