@{
    ViewBag.Title = "About us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<fieldset>

    <h2><span class="label alert-info "> About us Page </span></h2>
    <br />
    <div class="well well-sm">
        <div>
            <p>
                Welcome to our website .<br />
            </p>
        </div>
        <br />
        <div>
            <p>

            </p>

        </div>
    </div>

    <br />
    @*<table class=" table table-bordered" style="width:auto;position:relative">
        <tr style="text-align:center;position:relative">
            <td style="width: 30%; position: relative">
                <span style="position:absolute">
                    <img src="~/Content/images/About/amr.jpg" class="img-circle" style="width:40%; height:350%" />
                </span>
            </td>
            <td style="width: 30%; position: relative">
                <span style="position:absolute">
                    <img src="~/Content/images/About/mhd.jpg" class="img-circle" style="width:40%; height:35% " />
                </span>
            </td>
            <td style="width: 30%; position: relative">
                <span style="position:absolute">
                    <img src="~/Content/images/About/ammr.jpg" class="img-circle" style="width:40%; height:350%;" />
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="label label-info centrLbl ">
                    Amr Jerodiah
                </span>
            </td>
            <td>
                <span class="label label-info centrLbl ">
                    Mhamad Al-Tawil
                </span>
            </td>
            <td>
                <span class="label label-info centrLbl ">
                    Ammar Al-Lojie
                </span>
            </td>
        </tr>
    </table>*@

    <ul class=" list-inline  txtalgn">
        <li class="well">
            <div><img src="~/Content/images/About/amr.jpg" class="img-circle" style="width:40%; height:100%" /></div>
            <span class="label label-info centrLbl ">
                Amr Jerodiah
            </span>
        </li>
        <i >  &nbsp;</i>
        <li class="well">
            <div><img src="~/Content/images/About/mhd.jpg" class="img-circle" style="width:40%; height:100%" /></div>
            <span class="label label-info centrLbl ">
                Mhamad Al-Tawil
            </span>
        </li>
        <i>  &nbsp;</i>
        <li class="well">
            <div><img src="~/Content/images/About/ammr.jpg" class="img-circle" style="width:40%; height:100%" /></div>
            <span class="label label-info centrLbl ">
                Ammar Al-Lojie
            </span>
        </li>
    </ul>
</fieldset>
